<div class="content-wrapper" style="height:800px">
  <div class="box" style="height:100%">
    <div class="box-header" style="text-align:-webkit-center;">
      <h2 class="box-title" style="text-align:center;">Daily Line Monitoring</h2>
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="max-height:100%">
      <div class="panel panel-default">
        <div id="table-scroll">
          <table id="daily_line_monoitoring" class="table table-bordered table-hover " style="height:500px">
            <thead>
              <tr>
                <th style="text-align:center;">No.</th>
                <th style="text-align:center;">Kanban ID</th>
                <th style="text-align:center;">Section</th>
                <th style="text-align:center;">Customer</th>
                <th style="text-align:center;">Part No.</th>
                <th style="text-align:center;">Forecast</th>
                <th style="text-align:center;">All</th>
                <th style="text-align:center;">Store F/G</th>
                <th style="text-align:center;">Store Max</th>
                <th style="text-align:center;">Store Min</th>
                <th style="text-align:center;">Lot Size</th>
                <th style="text-align:center;">Status</th>
              </tr>
            </thead>

            <tbody></tbody>
            
            <tr ng-repeat="let item of setup" [ngClass]="selectedRow == item ? 'active' : ''" (click)="selectRow(item)" id="{{item}}"
              style="cursor:pointer">
              <td style="vertical-align:middle;text-align:center;">{{item}}</td>
              <td style="vertical-align:middle;text-align:center;">1808270003</td>
              <td style="vertical-align:middle;text-align:center;">Large</td>
              <td style="vertical-align:middle;text-align:center;">NHK</td>
              <td style="vertical-align:middle;text-align:center;">AAAAA-001</td>
              <td style="vertical-align:middle;text-align:center;">12000</td>
              <td style="vertical-align:middle;text-align:center;">54<br>8400</td>
              <td style="vertical-align:middle;text-align:center;">54<br>8400</td>
              <td style="vertical-align:middle;text-align:center;">80<br>8000</td>
              <td style="vertical-align:middle;text-align:center;">20<br>2000</td>
              <td style="vertical-align:middle;text-align:center;">30<br>3000</td>
              <td style="vertical-align:middle;text-align:center;">Process</td>
            </tr>
          
            </tbody>
          </table>
        </div>
      </div>


      <!-- For Edit -->
      <div class="panel panel-default">
        <div class="row" style="margin-top:20px">

          <div class="col-md-9">
            <div class="panel panel-default" style="margin-left:20px;margin-top:30px">
              <!-- Default panel contents -->
              <!-- Table -->
              <table class="table table-bordered">
                <thead style="font-size: 18px;">
                  <tr>
                    <th style="text-align:center;">No.</th>
                    <th style="text-align:center;">Section</th>
                    <th style="text-align:center;">Customer</th>
                    <th style="text-align:center;">Part No.</th>
                    <th style="text-align:center;">Forecast</th>
                    <th style="text-align:center;">All</th>
                    <th style="text-align:center;">Store F/G</th>
                    <th style="text-align:center;">Store Max</th>
                    <th style="text-align:center;">Store Min</th>
                    <th style="text-align:center;">Lot Size</th>
                  </tr>
                </thead>
                <tbody style="font-size: 16px;">
                  <tr>
                    <td style="vertical-align:middle;text-align:center;">2</td>
                    <td style="vertical-align:middle;text-align:center;">Large</td>
                    <td style="vertical-align:middle;text-align:center;">NHK</td>
                    <td style="vertical-align:middle;text-align:center;">AAAAA-001</td>
                    <td style="vertical-align:middle;text-align:center;">12000</td>
                    <td style="vertical-align:middle;text-align:center;">54<br>8400</td>
                    <td style="vertical-align:middle;text-align:center;">54<br>8400</td>
                    <td style="vertical-align:middle;text-align:center;">80<br>8000</td>
                    <td style="vertical-align:middle;text-align:center;">20<br>2000</td>
                    <td style="vertical-align:middle;text-align:center;">30<br>3000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-1">
            <div class="panel panel-default" style="height:102px;margin-top:30px;text-align:center;vertical-align:middle;cursor:default">
                <input class="form-control" type="text" style="cursor:default;height:100%;text-align:center;font-size:36px" value="100"  readonly>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <button class="btn btn-primary btn-lg" style="width:100px;margin-right:20px">UP</button>
              <button class="btn btn-primary btn-lg" style="width:100px">SAVE</button>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg" style="width:100px;margin-right:20px">DOWN</button>
              <button class="btn btn-primary btn-lg" style="width:100px">CANCEL</button>
            </div>
            <div class="form-group">
              <button class="btn btn-danger btn-lg" style="width:100px">URGENT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
</div>