<div class="content-wrapper" style="height:800px">
  <div class="box" style="height:100%">
    <div class="box-header" style="text-align:-webkit-center;">
      <h2 class="box-title" style="text-align:center;">History by Part no. and Over All</h2>
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="max-height:100%">
      <div class="panel panel-default">

      </div>
      <!-- /.box-body -->
    </div>
  </div>