<div class="content-wrapper" style="height:800px">
  <div class="box" style="height:100%">
    <div class="box-header" style="text-align:-webkit-center;">
      <h2 class="box-title" style="text-align:center;">Status Stock Finish Goods</h2>
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="max-height:100%">
      <div class="row">
        <div class="col-md-10">
          <div class="panel panel-default">
            <div id="table-scroll">
              <table id="table_main_monitor" class="table table-bordered table-hover " style="height:500px">
                <thead>
                  <tr>
                    <th style="text-align:center;vertical-align:middle;">No.</th>
                    <th style="text-align:center;vertical-align:middle;">Section</th>
                    <th style="text-align:center;vertical-align:middle;">Customer</th>
                    <th style="text-align:center;vertical-align:middle;">Part No.</th>
                    <th style="text-align:center;vertical-align:middle;">Data</th>
                    <th style="text-align:center;vertical-align:middle;">Forecast<br>{{datetime |
                      date:'MMM'}}'{{datetime | date:'yy'}}</th>
                    <th style="text-align:center;vertical-align:middle;">Store F/G<br>Actual</th>
                    <th style="text-align:center;vertical-align:middle;">Store<br>Maximum</th>
                    <th style="text-align:center;vertical-align:middle;">Store<br>Minimum</th>
                    <th style="text-align:center;vertical-align:middle;">Quantity<br>Lot Size</th>
                    <th style="text-align:center;vertical-align:middle;">Actual Acc.<br>Lot Size</th>
                    <th style="text-align:center;vertical-align:middle;">Production</th>
                    <th style="text-align:center;vertical-align:middle;">Status</th>
                  </tr>
                </thead>

                <tbody style="overflow-y:auto;max-height: 400px;"></tbody>
                <tr *ngFor="let item of setup" [ngClass]="selectedRow == item ? 'active' : ''" (click)="selectRow(item)"
                  id="{{item}}" style="cursor:pointer">
                  <td style="vertical-align:middle;text-align:center;">{{item}}</td>
                  <td style="vertical-align:middle;text-align:center;">Large</td>
                  <td style="vertical-align:middle;text-align:center;">NHK</td>
                  <td style="vertical-align:middle;text-align:center;">AAAAA-001</td>
                  <td style="vertical-align:middle;text-align:center;">Kanban<br>Pcs.</td>
                  <td style="vertical-align:middle;text-align:center;">12000</td>
                  <td style="vertical-align:middle;text-align:center;">54<br>5400</td>
                  <td style="vertical-align:middle;text-align:center;">80<br>8000</td>
                  <td style="vertical-align:middle;text-align:center;">20<br>2000</td>
                  <td style="vertical-align:middle;text-align:center;">30<br>3000</td>
                  <td style="vertical-align:middle;text-align:center;">6<br>600</td>
                  <td style="vertical-align:middle;text-align:center;">20<br>2000</td>
                  <td style="vertical-align:middle;text-align:center;">Normal</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel panel-default">
            <div class="panel-heading" style="height:58px;vertical-align:middle">
              <h3 class="panel-title" style="text-align:center;">Total Part Minimum Store F/G</h3>
            </div>
            <div class="panel-body" style="background-color:red">
              <div style="color:white;font-size:100px;text-align:center">15</div>
              <div style="color:white;font-size:36px;text-align:center">Part Number</div>
            </div>
          </div>

        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>