<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
        </div>
      </div>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>

        <!-- Line Monitoring -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-desktop"></i> 
            <span>Line Monitoring</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <!-- sub Line Monitoring -->
          <ul class="treeview-menu">
            <li><a routerLink="/linemonitoring/stock"><i class="fa fa-circle-o"></i>Status Stock Finish Goods</a></li>
            <li><a routerLink="/linemonitoring/history"><i class="fa fa-circle-o"></i>History by Part no. & Over All</a></li>
            <li><a routerLink="/linemonitoring/detail"><i class="fa fa-circle-o"></i>Detail By Process</a></li>
            <li><a routerLink="/linemonitoring/daily" class="linkCustom"><i class="fa fa-circle-o"></i> Daily Line Monitoring</a></li>
          </ul>
        </li>

        <!-- Setting -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cogs"></i>
            <span>Setting</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <!-- sub Setting -->
          <ul class="treeview-menu">
            <li><a routerLink="/linemonitoring/daily"><i class="fa fa-circle-o"></i>Lot Size Adjustment</a></li>
            <li><a routerLink="/setup/master"><i class="fa fa-circle-o"></i>Master Setup</a></li>
          </ul>
        </li>
          
          <!-- Report & KPI -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-file"></i>
            <span>Report & KPI</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <!-- sub Report & KPI -->
          <ul class="treeview-menu">
            <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
            <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
            <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
          </ul>
        </li>
        
       
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>