<div class="content-wrapper">
  <div class="box" style="border-top:0px;height:100%">
    <div class="box-header" style="text-align:-webkit-center;">
      <h2 class="box-title" style="text-align:center;">Status Stock Finish Goods</h2>
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="height:100%">
      <div class="form-panel">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Search</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-md-10">
                <input class="form-control" placeholder="Customer/Part No./Status">
              </div>
              <div class="col-md-2">
                <button class="btn btn-primary">Search</button>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div id="table-scroll">
              <table id="table_stock" class="table table-bordered table-hover " style="height:500px">
                <thead>
                  <tr>
                    <th style="text-align:center;vertical-align:middle;">No.</th>
                    <th style="text-align:center;vertical-align:middle;">Section</th>
                    <th style="text-align:center;vertical-align:middle;">Customer</th>
                    <th style="text-align:center;vertical-align:middle;">Part No.</th>
                    <th style="text-align:center;vertical-align:middle;">Data</th>
                    <th style="text-align:center;vertical-align:middle;">Forecast<br>{{datetime |
                      date:'MMM'}}'{{datetime | date:'yy'}}</th>
                    <th style="text-align:center;vertical-align:middle;">Store F/G<br>Actual</th>
                    <th style="text-align:center;vertical-align:middle;">Store<br>Maximum</th>
                    <th style="text-align:center;vertical-align:middle;">Store<br>Minimum</th>
                    <th style="text-align:center;vertical-align:middle;">Status</th>
                  </tr>
                </thead>

                <tbody style="overflow-y:auto;max-height: 400px;"></tbody>
                <tr *ngFor="let item of setup" [ngClass]="selectedRow == item ? 'active' : ''" (click)="selectRow(item)"
                  id="{{item}}" style="cursor:pointer">
                  <td style="vertical-align:middle;text-align:center;">{{item}}</td>
                  <td style="vertical-align:middle;text-align:center;">Large</td>
                  <td style="vertical-align:middle;text-align:center;">NHK</td>
                  <td style="vertical-align:middle;text-align:center;">AAAAA-001</td>
                  <td style="vertical-align:middle;text-align:center;">Kanban<br>Pcs.</td>
                  <td style="vertical-align:middle;text-align:center;">12000</td>
                  <td style="vertical-align:middle;text-align:center;">54<br>8400</td>
                  <td style="vertical-align:middle;text-align:center;">54<br>8400</td>
                  <td style="vertical-align:middle;text-align:center;">80<br>8000</td>
                  <td style="vertical-align:middle;text-align:center;">Normal</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading" style="height:58px;vertical-align:middle">
              <h3 class="panel-title" style="text-align:center;">Counter Status</h3>
            </div>
            <div class="panel-body">
              <div class="row>">
                <!-- Normal -->
                <div class="col-md-6">
                  <div class="panel panel-success">
                    <div class="panel-heading">
                      <h3 class="panel-title" style="text-align:center;vertical-align:middle">Normal</h3>
                    </div>
                    <div class="panel-body" style="text-align:center">
                      10
                    </div>
                  </div>
                </div>

                <!-- Abnormal -->
                <div class="col-md-6">
                  <div class="panel panel-danger">
                    <div class="panel-heading">
                      <h3 class="panel-title" style="text-align:center;vertical-align:middle">Abnormal</h3>
                    </div>
                    <div class="panel-body" style="text-align:center">
                      20
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
    <!-- /.box-body -->
  </div>
</div>